{% load static %}
<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">

    <title>MindCore</title>

</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'image/logo2.svg'%}" alt="logo">
            <h1>Mindcore</h1>
        </div>
        <div class="navbar-menu">
            <a href="#">Головна</a>
            <a href="#">Про нас</a>
            <a href="">Блог</a>
            <a href="">Терапевтам</a>
            <a href="">Центри допомоги</a>
        </div>
        <div class="navbar-person">
            <a href="{% url 'sign_up' %}">Зареєструватися</a>
            <a href="{% url 'log_in' %}">Увійти</a>
        </div>
    </nav>

    <section class="hello">
        <div class="hello-left">
            <div class="hello-text">
                <h2>Підберіть психотерапевта, який вас зрозуміє на платформі MindCore:</h2>
            </div>
            <div class="hello-button">
                <a href="#">Обрати спеціаліста</a>
                <a href="#">Усі спеціалісти</a>
            </div>
        </div>
        <div class="hello-right">
            <img src="{% static 'image/main3.svg' %}" alt="hello">
        </div>
    </section>
    <section class="opportunity">
        <article>
            <h2 data-target="10000">0</h2>
            <p>сесій проведено</p>
        </article>
        <article>
            <h2 data-target="98">0</h2>
            <p>відсотків клієнтів мають позитивні враження після першої сесії</p>
        </article>
        <article>
            <h2 data-target="5">0</h2>
            <p>хвилин - середній час пошуку фахівця</p>
        </article>
        <article>
            <h2 data-target="300">0</h2>
            <p>перевірених фахівців на платформі</p>
        </article>
    </section>

    <section class="sos">
        <h2>Екстрені служби</h2>
        <article>
            <p>Тяжкі розлади у дітей та дорослих</p>
            <a href="tel:+380675949446">+38 (067) 594 94 46</a>
            <a href="tel:+380959136941">+38 (095) 913 69 41</a>
        </article>
        <article>
            <p>Домашнє насильство та гендерна дискримінація</p>
            <a href="tel:0800500335">0 800 500 335</a>
            <a href="tel:116123">116 123</a>
        </article>
        <article>
            <p>Національна лінія підтримки для дітей</p>
            <a href="tel:0800500225">0 800 500 225</a>
            <a href="tel:116111">116 111</a>
        </article>
        <article>
            <p>Національна лінія запобігання суїцидам 24/7</p>
            <a href="tel:7333">7333</a>
        </article>
    </section>

    <footer>
        <div class="footer-logo">
            <div class="footer-logo-main">
                <img src="{% static 'image/logo2.svg'%}" alt="logo">
                <h2>Mindcore</h2>
            </div>
            <div class="footer-info">
                <p>Ми подбаємо про твоє ментальне здоров'я!</p>
            </div>
        </div>

        <div class="footer-pages">
            <h2>Сторінки</h2>
            <a href="{% url 'index' %}">Головна</a>
            <a href="{% url 'about' %}">Про нас</a>
            <a href="{% url 'blog' %}">Блог</a>
            <a href="{% url 'for_therapist' %}">Терапевтам</a>
            <a href="{% url 'help_center' %}">Центри допомоги</a>
        </div>

        <div class="footer-rules">
            <h2>Юридична інформація</h2>
            <a href="#">Політика конфіденційності</a>
            <a href="#">Правила користування сайтом</a>
        </div>

        <div class="footer-socials">
            <h2>Зв'язатися з нами</h2>
            <a href="mailto:logikasun@gmail.com">logikasun@gmail.com</a>
            <a href="tel:+380123456789">+38 012 345 67 89</a>
            <div class="socials">
                <a href="#"><img src="{% static 'image/instagram.png'%}" alt="instagram"></a>
                <a href="#"><img src="{% static 'image/telegram.png'%}" alt="telegram"></a>
            </div>
        </div>

        <div class="footer-author">
            <h4>&copy; 2025 Костерева Софія</h4>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const counters = document.querySelectorAll('.opportunity article h2');

            // Функція для анімації лічильників
            const updateCount = (counter) => {
                const target = +counter.getAttribute('data-target');
                let count = 0;
                const increment = target / 200;

                const interval = setInterval(() => {
                    count += increment;
                    if (count >= target) {
                        count = target;
                        clearInterval(interval);
                    }
                    counter.textContent = Math.round(count);
                }, 10);
            };

            // Налаштовуємо IntersectionObserver
            const observer = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        // Якщо елемент потрапляє в область видимості, запускаємо анімацію
                        updateCount(entry.target);
                        observer.unobserve(entry.target); // Перестаємо спостерігати за елементом
                    }
                });
            }, {
                threshold: 0.5 // Запуск анімації, коли 50% елемента видно
            });

            counters.forEach(counter => {
                counter.textContent = '0'; // Початкове значення
                observer.observe(counter); // Спостерігаємо за кожним лічильником
            });
        });
    </script>

</body>

</html>